@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<span asp-validation-for="Address.Number" class="text-danger"></span>
<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>

    <form method="post">

        <label asp-for="Address.Number"></label>
        <input asp-for="Address.Number" /><br />
        <button type="submit">Zatwierdź</button>
    </form>




</div>

@if (Model.Address != null)
{

    if (Model.Address.Number % 3 == 0 && Model.Address.Number % 5 != 0)
    {
        <h3>Otrzymano: Fizz</h3>

    }

    else if (Model.Address.Number % 3 != 0 && Model.Address.Number % 5 == 0)
    {
        <h3>Otrzymano: Buzz</h3>

    }

    else if (Model.Address.Number % 3 == 0 && Model.Address.Number % 5 == 0)
    {
        <h3>Otrzymano: FizzBuzz</h3>

    }

    else
    {
        <h3>Liczba: @Model.Address.Number nie spelnia kryteriow Fizz/Buzz</h3>

    }

}

@if (Model.Addresses != null) {

@foreach (var item in Model.Addresses)
{
    <p>
        @Html.DisplayFor(modelItem => item.Number)
        @Html.DisplayFor(modelItem => item.Result)
        @Html.DisplayFor(modelItem => item.Date)
    </p>
}
}




<!--<span asp-validation-for="Address.Street" class="text-danger"></span>
<span asp-validation-for="Address.Number" class="text-danger"></span>
<span asp-validation-for="Address.ZipCode" class="text-danger"></span>
<span asp-validation-for="Address.City" class="text-danger"></span>

<div class="form-row align-items-center">
    <div class="col text-center mr-3">
        <h1 class="display-4">Welcome @Model.Name</h1>
    </div>
</div>


<div class="form-row align-items-center m-5">
    <div class="col text-center mr-3">
        <label for="Address.Street">Twoja ulubiona ulica</label>
        <input type="text" class="form-control" id="Address.Street">
    </div>
    <div class="col text-center mr-3">
        <label for="Address.Number">Number</label>
        <input type="text" class="form-control" id="Address.Number">

    </div>
    <div class="col text-center mr-3">
        <label for="Address.ZipCode">Zipcode</label>
        <input type="text" class="form-control" id="Address.ZipCode">

    </div>
    <div class="col text-center mr-3">
        <label for="Address.City">City</label>
        <input type="text" class="form-control" id="Address.City">

    </div>
</div>



<div class="form-row align-items-center m-5">
    <div class="col text-center mr-3">

        <button type="submit" class="btn btn-primary">Zatwierdź</button>
    </div>
</div>-->
